@model LeagueStandingsViewModel

<div class="container mt-4">
    <h2>@Model.LeagueName - Standings</h2>
    <p>Total Rounds: @Model.TotalRounds | Played Rounds: @Model.PlayedRounds</p>

    @foreach(var item in Model.StandingItems)
    {
        @await Html.PartialAsync("_Standing", item);
    }
</div>