@page

@{
    var ModelName = "Content creation";
    ViewData["Title"] = ModelName;
}


<h2>@ModelName</h2>

<p>
    <a asp-page="Teams/Index" class="btn btn-success">Teams</a>
    <a asp-page="Players/Index" class="btn btn-info">Players</a>
    @*<a asp-action="Create" class="btn btn-primary">Create New</a>
    <a asp-action="Create" class="btn btn-danger">Create New</a>
    <a asp-action="Create" class="btn btn-default">Create New</a>
    <a asp-action="Create" class="btn btn-info">Create New</a>
    <a asp-action="Create" class="btn btn-success">Create New</a>
    <a asp-action="Create" class="btn btn-warning">Create New</a>*@
</p>