@model OpenData.Basetball.AbaLeague.MVCWebApp.Models.BoxscoreDraftByRoundViewModel

<h3>Boxscore draft by Round @Model.RoundNo</h3>

@if(Model.Matches != null  && Model.Matches.Any())
{
     <div class="container mt-4">
        <form asp-controller="Boxscore" asp-action="AddByRound" method="post"
              asp-route-leagueId="@Model.LeagueId" asp-route-roundNo="@Model.RoundNo">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">Create Boxscore for round</button>
                </div>
            </div>
        </form>
     </div>
    foreach(var match in Model.Matches)
    {
        <div>
            @await Html.PartialAsync("_DraftBoxscoreByMatch", match);
        </div>
    }
}