@using OpenData.Basetball.AbaLeague.MVCWebApp.Models.Boxscore
@model BoxscoreDraftByMatchViewModel

<h3>Boxscore draft</h3>

  
@await Html.PartialAsync("_DraftBoxscoreByMatch", Model);

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('.create-history-roster-item').click(function () {
            var teamId = $(this).data('teamid'); // Use 'teamid' instead of 'teamId'
            var playerId = $(this).data('playerid'); // Use 'playerid' instead of 'playerId'

            console.log('Team ID:', teamId, 'Player ID:', playerId);
            var url = '/Roster/SaveHistoryDraftRosterItem' +
                '?teamId=' + encodeURIComponent(teamId) +
                '&playerId=' + encodeURIComponent(playerId) +
                '&leagueId=' + encodeURIComponent('@Model.LeagueId');
            $.ajax({
                url: url, // Replace with the actual URL of your action
                type: 'POST',
                success: function (data) {
                    // Handle success if needed
                    console.log('Success');
                    var newUrl = '/Boxscore/Index/' + @Model.LeagueId + '/' + @Model.MatchResultId;
                    window.location.href = newUrl;
                },
                error: function (error) {
                    // Handle error if needed
                    console.log('Error');
                }
            });
        });
    });
</script>