@model OpenData.Basetball.AbaLeague.MVCWebApp.Models.BoxscoreIndexViewModel

<h3>Available rounds for fetching boxscore</h3>


@if (Model.AvailableRounds != null && Model.AvailableRounds.Any())
{
    <div class="container mt-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="mb-0">Availble rounds</h4>
                </div>
            <div class="card-body">
                @foreach (var item in Model.AvailableRounds)
                {
                    <dl class="row">
                        <dt class="col-sm-3">Round number:</dt>
                        <dd class="col-sm-3">@item</dd>
                        <dd class="col-sm-6">
                            <a asp-controller="Boxscore" asp-action="DraftByRound"
                               asp-route-roundNo="@item" asp-route-leagueId="@Model.LeagueId"
                               class="btn btn-outline-primary">Boxscore</a>
                        </dd>
                        
                    </dl>
                }
            </div>
        </div>
    </div>
}
else
{
    <p>
        Not availble any of rounds for selected leagues.
    </p>
}