@model ComparisonIndexViewModel

<h2>Compare diff items trought diff stats</h2>

<div>
    <a asp-controller="Comparison" asp-action="ComparePlayers"
       class="btn btn-outline-primary">Compare Players</a>
    <a asp-controller="Comparison" asp-action="CompareTeams"
       class="btn btn-outline-primary">Compare Teams</a>
    <a asp-controller="Comparison" asp-action="CompareLeagues"
       class="btn btn-outline-primary">Compare Leagues</a>
</div>