@model SeasonResourcesAssigneGroupOrBracketPositionViewModel



<h4>Assigne Bracket Position</h4>
<p>
    Team:@Model.TeamName
    League:@Model.LeagueName
    <form asp-controller="SeasonResource" asp-action="SaveBracketPosition" method="post">
        <input type="hidden" asp-for="TeamId" />
        <input type="hidden" asp-for="LeagueId" />
        <div class="form-group">
            <label asp-for="TeamName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="TeamName" class="form-control disabled" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LeagueName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LeagueName" class="form-control disabled" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="BaracketPosition" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="BaracketPosition" class="form-control" />
                <span asp-validation-for="BaracketPosition" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="submit" class="btn btn-success">Save</button>
            </div>

        </div>
    </form>
</p>

